body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.campo {
  margin-bottom: 10px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Adicione esta linha */
}

.campo input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}

.botao,
slect,
label.checkbox {
  cursor: pointer;
}

fieldset.grupo.campo {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
