.campo {
    margin-bottom: 1em;
}
.campo.label{
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo.campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea{
    padding: 0.2em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}